In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read the data companies.json
# and create a dataframe
df = pd.read_json("companies.json")
df

,name,summary,description,website,industry,headquarters,size,type,founded,followers,posts
0,Savannah Lakes Village Real Estate,"Master-planned, private lakefront community ne...","Savannah Lakes Village is a master-planned, pr...",https://www.linkedin.com/redir/redirect?url=ht...,Real Estate,"McCormick, South Carolina",11-50 employees,Privately Held,not-found,51,"[{'time': '1y', 'text': 'Welcome to the offici..."
1,"X2 Logics Staffing Solution, Inc.",X2 Logics Staffing Solution is a US based lead...,"X2 Logics Staffing Solution, Inc. is a Staffin...",https://www.linkedin.com/redir/redirect?url=ht...,Staffing and Recruiting,"Pembroke Pines, Florida",51-200 employees,Partnership,2019,24201,"[{'time': '18h', 'text': 'May Allah bless you ..."
2,Tephra Labs,Technology for large-scale human coordination,Governments and companies have failed to move ...,https://www.linkedin.com/redir/redirect?url=ht...,Software Development,"New York City, New York",2-10 employees,Privately Held,2022,286,"[{'time': 'not-found', 'text': 'not-found', 'l..."
3,Collins Community Credit Union,Aspire. Ignite. Achieve.,What started in 1940 by ten Collins Radio Empl...,https://www.linkedin.com/redir/redirect?url=ht...,Banking,"Cedar Rapids, Iowa",201-500 employees,Nonprofit,1940,1472,"[{'time': '3mo', 'text': 'is', 'likes': '17', ..."
4,Humana,not-found,"At Humana, our cultural foundation is aligned ...",https://www.linkedin.com/redir/redirect?url=ht...,Wellness and Fitness Services,"Louisville, Kentucky","10,001+ employees",Public Company,not-found,408021,"[{'time': '23h', 'text': 'At Humana we aim to ..."
...,...,...,...,...,...,...,...,...,...,...,...
9924,Kern and Kern Llc,not-found,33 Kensington Rd,not-found,Telecommunications,"Berlin, Connecticut",11-50 employees,not-found,not-found,55,[]
9925,University of Dayton,"As a Catholic, Marianist university, we build ...",The University of Dayton is a top-tier Catholi...,https://www.linkedin.com/redir/redirect?url=ht...,Enseñanza superior,"Dayton, OH",De 1.001 a 5.000 empleados,Institución educativa,1850,109402,"[{'time': '1 día', 'text': 'At the University ..."
9926,Newrest,#cateringunlimited,Specialist in out-of-home catering in 57 count...,https://www.linkedin.com/redir/redirect?url=ht...,Food and Beverage Services,"Toulouse, Occitanie","10,001+ employees",Privately Held,not-found,181970,"[{'time': '2d', 'text': '🇰🇭 A trustworthy part..."
9927,Coloscapes Concrete,Coloscapes Concrete is a full-service concrete...,Coloscapes Concrete is a full services concret...,https://www.linkedin.com/redir/redirect?url=ht...,Construction,"Loveland, Colorado",51-200 employees,Privately Held,2004,822,"[{'time': '6h', 'text': 'Earth Day! At Colosca..."
9928,Recruiting Karma,Recruit For Good!,Every time we fill a role we take a moment to ...,https://www.linkedin.com/redir/redirect?url=ht...,Staffing and Recruiting,"San Diego, CA",2-10 employees,Self-Employed,2023,703,"[{'time': '4w', 'text': 'I can confidently say..."

In [3]:
# Replace not-found with NaN and -1 with NaN
df = df.replace("not-found", np.nan)
df = df.replace(-1, np.nan)

# Count the number of NaN values in each column
df.isna().sum()

name             165
summary         1820
description      180
website          289
industry         178
headquarters     473
size             187
type             276
founded         2104
followers        925
posts              0
dtype: int64

In [4]:
# Drop the rows with name as Confidential
df = df[df["name"] != "Confidential"]

In [5]:
# Replace followers from the file companies_with_nan_followers.json

df2 = pd.read_json("companies_with_nan_followers.json")

for index, row in df2.iterrows():
    # Get the name of the company
    name = row["name"]
    # Get the followers of the company
    followers = row["followers"]
    # Find the row in df with the same name
    # and replace the followers
    df.loc[df["name"] == name, "followers"] = followers

In [7]:
# Remove the rows where followers is NaN
df = df.dropna(subset=["followers"])

In [8]:
# Count the number of each type of company
df["size"].value_counts()

size
51-200 employees              2392
11-50 employees               1939
201-500 employees             1341
1,001-5,000 employees         1146
501-1,000 employees            780
                              ...
11-50 medarbejdere               1
1.001 - 5.000 medewerkers        1
Over 10.001 medarbejdere         1
501 - 1.000 medewerkers          1
1.001 – 5.000 medarbejdere       1
Name: count, Length: 93, dtype: int64

In [13]:
# Export the dataframe to a json file
df.to_json("companies_clean.json")

In [21]:
df = pd.read_json("companies_clean.json")

In [22]:
# Explode the posts column
df = df.explode("posts")

In [24]:
# Convert the posts column into multiple columns
# The posts column is a dictionary
# We want to convert it into multiple columns
df = pd.concat([df.drop(["posts"], axis=1), df["posts"].apply(pd.Series)], axis=1)

In [27]:
# Sort by likes
df = df.sort_values(by="comments", ascending=False)

,name,summary,description,website,industry,headquarters,size,type,founded,followers,time,text,likes,comments,content_type,0
9144,Grainger,For The Ones Who Get It Done,As a leading business-to-business organization...,https://www.linkedin.com/redir/redirect?url=ht...,Retail Office Equipment,"Lake Forest, Illinois","10,001+ employees",Public Company,1927.0,178450,2w,We did it again! Grainger is one of the,999,0,video,NaN
7390,Peoples Bank,Working Together. Building Success. Named by A...,Recognized by Newsweek as one of America's Bes...,https://www.linkedin.com/redir/redirect?url=ht...,Financial Services,"Marietta, Ohio","1,001-5,000 employees",Public Company,1902.0,7031,4d,"Over the weekend, four Peoples Bank associates...",16,0,text,NaN
8191,University of Alaska Fairbanks,Est. 1917 | Naturally Inspiring,Inspiring discovery. Inspiring greatness. Insp...,https://www.linkedin.com/redir/redirect?url=ht...,Higher Education,"Fairbanks, AK","1,001-5,000 employees",Educational,1917.0,33968,1w,Congratulations to our,16,0,link,NaN
8915,Noggin,"Manage disruption, smarter.","When Noggin first started out, we wanted to so...",https://www.linkedin.com/redir/redirect?url=ht...,Software Development,"Sydney, NSW",51-200 employees,Privately Held,2009.0,4948,3w,Looking to make a career change? We're hiring ...,16,0,text,NaN
1644,Caption Health,Detecting disease earlier with AI and ultrasound.,Our mission is to detect disease early – when ...,https://www.linkedin.com/redir/redirect?url=ht...,Hospitals and Health Care,"San Mateo, California",11-50 employees,Privately Held,2013.0,6997,3w,Exciting and impactful updates coming out of o...,16,0,text,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1653,RagingBullGames,None,We are a start up company of talented indivudu...,None,Computer Games,None,2-10 employees,Public Company,2019.0,2,NaN,NaN,NaN,NaN,NaN,NaN
3670,Jade Studios,"Telling refreshing, creative & colorful storie...",Jade Studios is a media production company tha...,https://www.linkedin.com/redir/redirect?url=ht...,Media Production,"Edinburg, Texas",2-10 employees,Self-Owned,2021.0,1,NaN,NaN,NaN,NaN,NaN,NaN
794,LYNETTE DAWN WILLIAMS,None,2918 BORAH RD,None,Medical Practices,"American Falls, Idaho",2-10 employees,None,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
8090,"Heike Niemann, Heilpraktikerin",None,"External link for Heike Niemann, Heilpraktikerin",https://www.linkedin.com/redir/redirect?url=ht...,None,"Hamburg, Hamburg",None,None,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
9181,TENACIOUS SOLUTIONS LIMITED,None,auto generated page by LinkedIn,None,Business Consulting and Services,Arlington,11-50 employees,Privately Held,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# replace not-found with NaN
df = df.replace("not-found", np.nan)

In [30]:
# Drop columns where text, likes or comments is NaN
df = df.dropna(subset=["text", "likes", "comments"])
df

,name,summary,description,website,industry,headquarters,size,type,founded,followers,time,text,likes,comments,content_type,0
9144,Grainger,For The Ones Who Get It Done,As a leading business-to-business organization...,https://www.linkedin.com/redir/redirect?url=ht...,Retail Office Equipment,"Lake Forest, Illinois","10,001+ employees",Public Company,1927.0,178450,2w,We did it again! Grainger is one of the,999,0,video,NaN
7390,Peoples Bank,Working Together. Building Success. Named by A...,Recognized by Newsweek as one of America's Bes...,https://www.linkedin.com/redir/redirect?url=ht...,Financial Services,"Marietta, Ohio","1,001-5,000 employees",Public Company,1902.0,7031,4d,"Over the weekend, four Peoples Bank associates...",16,0,text,NaN
8191,University of Alaska Fairbanks,Est. 1917 | Naturally Inspiring,Inspiring discovery. Inspiring greatness. Insp...,https://www.linkedin.com/redir/redirect?url=ht...,Higher Education,"Fairbanks, AK","1,001-5,000 employees",Educational,1917.0,33968,1w,Congratulations to our,16,0,link,NaN
8915,Noggin,"Manage disruption, smarter.","When Noggin first started out, we wanted to so...",https://www.linkedin.com/redir/redirect?url=ht...,Software Development,"Sydney, NSW",51-200 employees,Privately Held,2009.0,4948,3w,Looking to make a career change? We're hiring ...,16,0,text,NaN
1644,Caption Health,Detecting disease earlier with AI and ultrasound.,Our mission is to detect disease early – when ...,https://www.linkedin.com/redir/redirect?url=ht...,Hospitals and Health Care,"San Mateo, California",11-50 employees,Privately Held,2013.0,6997,3w,Exciting and impactful updates coming out of o...,16,0,text,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226,Heidelberg Materials North America,None,"For more than a century, we’ve been supplying ...",https://www.linkedin.com/redir/redirect?url=ht...,بيع مواد الإنشاءات بالجملة,"Irving, Texas",١٠٠١ - ٥٠٠٠ موظف,شركة يملكها عدد قليل من الأشخاص,1897.0,50504,2 أسبوع,to partner with the Government of Canada for t...,392,0,text,NaN
6126,Driscoll's,Only the Finest Berries,Driscoll’s is the global market leader for fre...,https://www.linkedin.com/redir/redirect?url=ht...,Food and Beverage Services,"Watsonville, CA","1,001-5,000 employees",Privately Held,NaN,71539,5mo,Google’s,392,0,link,NaN
2675,TD,None,The Toronto-Dominion Bank & its subsidiaries a...,https://www.linkedin.com/redir/redirect?url=ht...,Banking,"Toronto, Ontario","10,001+ employees",Public Company,NaN,732501,2mo,Calling all newcomers! Take a read of this ins...,392,0,text,NaN
5380,Johnson & Johnson,None,Profound Change Requires Boldness. \n\nJohnson...,https://www.linkedin.com/redir/redirect?url=ht...,Hospitals and Health Care,"New Brunswick, NJ","10,001+ employees",Public Company,NaN,8451620,4d,To improve outcomes for patients who experienc...,392,0,video,NaN
4944,Delinian,"Gain a sharper edge in your market, powered by...",We are Delinian. A leading portfolio of highly...,https://www.linkedin.com/redir/redirect?url=ht...,Information Services,None,"1,001-5,000 employees",Privately Held,NaN,21469,2mo,Today we are excited to announce that,392,0,link,NaN

In [32]:
# count the number of posts per content type
df["content_type"].value_counts()

content_type
text     50431
link     15824
video     7956
Name: count, dtype: int64

In [37]:
from langdetect import detect

def detect_language(text):
    try:
        return detect(text)
    except:
        return None
    
df['language'] = df['text'].apply(detect_language)

df = df[df['language'] == 'en']

df = df.drop(columns=['language'])
df

,index,name,summary,description,website,industry,headquarters,size,type,founded,followers,time,text,likes,comments,content_type,0
0,9144,Grainger,For The Ones Who Get It Done,As a leading business-to-business organization...,https://www.linkedin.com/redir/redirect?url=ht...,Retail Office Equipment,"Lake Forest, Illinois","10,001+ employees",Public Company,1927.0,178450,2w,We did it again! Grainger is one of the,999,0,video,NaN
1,7390,Peoples Bank,Working Together. Building Success. Named by A...,Recognized by Newsweek as one of America's Bes...,https://www.linkedin.com/redir/redirect?url=ht...,Financial Services,"Marietta, Ohio","1,001-5,000 employees",Public Company,1902.0,7031,4d,"Over the weekend, four Peoples Bank associates...",16,0,text,NaN
2,8191,University of Alaska Fairbanks,Est. 1917 | Naturally Inspiring,Inspiring discovery. Inspiring greatness. Insp...,https://www.linkedin.com/redir/redirect?url=ht...,Higher Education,"Fairbanks, AK","1,001-5,000 employees",Educational,1917.0,33968,1w,Congratulations to our,16,0,link,NaN
3,8915,Noggin,"Manage disruption, smarter.","When Noggin first started out, we wanted to so...",https://www.linkedin.com/redir/redirect?url=ht...,Software Development,"Sydney, NSW",51-200 employees,Privately Held,2009.0,4948,3w,Looking to make a career change? We're hiring ...,16,0,text,NaN
4,1644,Caption Health,Detecting disease earlier with AI and ultrasound.,Our mission is to detect disease early – when ...,https://www.linkedin.com/redir/redirect?url=ht...,Hospitals and Health Care,"San Mateo, California",11-50 employees,Privately Held,2013.0,6997,3w,Exciting and impactful updates coming out of o...,16,0,text,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74205,6745,Folio Fine Wine Partners,Real Families. Real Wines.,Folio is a full-service importer and marketing...,https://www.linkedin.com/redir/redirect?url=ht...,Beverage Manufacturing,"Napa, California",51-200 employees,Privately Held,2004.0,1990,1mo,We are pleased to announce the appointment of ...,391,0,text,NaN
74206,2226,Heidelberg Materials North America,None,"For more than a century, we’ve been supplying ...",https://www.linkedin.com/redir/redirect?url=ht...,بيع مواد الإنشاءات بالجملة,"Irving, Texas",١٠٠١ - ٥٠٠٠ موظف,شركة يملكها عدد قليل من الأشخاص,1897.0,50504,2 أسبوع,to partner with the Government of Canada for t...,392,0,text,NaN
74208,2675,TD,None,The Toronto-Dominion Bank & its subsidiaries a...,https://www.linkedin.com/redir/redirect?url=ht...,Banking,"Toronto, Ontario","10,001+ employees",Public Company,NaN,732501,2mo,Calling all newcomers! Take a read of this ins...,392,0,text,NaN
74209,5380,Johnson & Johnson,None,Profound Change Requires Boldness. \n\nJohnson...,https://www.linkedin.com/redir/redirect?url=ht...,Hospitals and Health Care,"New Brunswick, NJ","10,001+ employees",Public Company,NaN,8451620,4d,To improve outcomes for patients who experienc...,392,0,video,NaN
74210,4944,Delinian,"Gain a sharper edge in your market, powered by...",We are Delinian. A leading portfolio of highly...,https://www.linkedin.com/redir/redirect?url=ht...,Information Services,None,"1,001-5,000 employees",Privately Held,NaN,21469,2mo,Today we are excited to announce that,392,0,link,NaN

In [42]:
# Export the dataframe to a json file
df.reset_index(inplace=True)
df.to_json("posts_clean.json", orient="records")

In [43]:
df

,index,name,summary,description,website,industry,headquarters,size,type,founded,followers,time,text,likes,comments,content_type,0
0,0,Grainger,For The Ones Who Get It Done,As a leading business-to-business organization...,https://www.linkedin.com/redir/redirect?url=ht...,Retail Office Equipment,"Lake Forest, Illinois","10,001+ employees",Public Company,1927.0,178450,2w,We did it again! Grainger is one of the,999,0,video,NaN
1,1,Peoples Bank,Working Together. Building Success. Named by A...,Recognized by Newsweek as one of America's Bes...,https://www.linkedin.com/redir/redirect?url=ht...,Financial Services,"Marietta, Ohio","1,001-5,000 employees",Public Company,1902.0,7031,4d,"Over the weekend, four Peoples Bank associates...",16,0,text,NaN
2,2,University of Alaska Fairbanks,Est. 1917 | Naturally Inspiring,Inspiring discovery. Inspiring greatness. Insp...,https://www.linkedin.com/redir/redirect?url=ht...,Higher Education,"Fairbanks, AK","1,001-5,000 employees",Educational,1917.0,33968,1w,Congratulations to our,16,0,link,NaN
3,3,Noggin,"Manage disruption, smarter.","When Noggin first started out, we wanted to so...",https://www.linkedin.com/redir/redirect?url=ht...,Software Development,"Sydney, NSW",51-200 employees,Privately Held,2009.0,4948,3w,Looking to make a career change? We're hiring ...,16,0,text,NaN
4,4,Caption Health,Detecting disease earlier with AI and ultrasound.,Our mission is to detect disease early – when ...,https://www.linkedin.com/redir/redirect?url=ht...,Hospitals and Health Care,"San Mateo, California",11-50 employees,Privately Held,2013.0,6997,3w,Exciting and impactful updates coming out of o...,16,0,text,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68783,68783,Folio Fine Wine Partners,Real Families. Real Wines.,Folio is a full-service importer and marketing...,https://www.linkedin.com/redir/redirect?url=ht...,Beverage Manufacturing,"Napa, California",51-200 employees,Privately Held,2004.0,1990,1mo,We are pleased to announce the appointment of ...,391,0,text,NaN
68784,68784,Heidelberg Materials North America,None,"For more than a century, we’ve been supplying ...",https://www.linkedin.com/redir/redirect?url=ht...,بيع مواد الإنشاءات بالجملة,"Irving, Texas",١٠٠١ - ٥٠٠٠ موظف,شركة يملكها عدد قليل من الأشخاص,1897.0,50504,2 أسبوع,to partner with the Government of Canada for t...,392,0,text,NaN
68785,68785,TD,None,The Toronto-Dominion Bank & its subsidiaries a...,https://www.linkedin.com/redir/redirect?url=ht...,Banking,"Toronto, Ontario","10,001+ employees",Public Company,NaN,732501,2mo,Calling all newcomers! Take a read of this ins...,392,0,text,NaN
68786,68786,Johnson & Johnson,None,Profound Change Requires Boldness. \n\nJohnson...,https://www.linkedin.com/redir/redirect?url=ht...,Hospitals and Health Care,"New Brunswick, NJ","10,001+ employees",Public Company,NaN,8451620,4d,To improve outcomes for patients who experienc...,392,0,video,NaN
68787,68787,Delinian,"Gain a sharper edge in your market, powered by...",We are Delinian. A leading portfolio of highly...,https://www.linkedin.com/redir/redirect?url=ht...,Information Services,None,"1,001-5,000 employees",Privately Held,NaN,21469,2mo,Today we are excited to announce that,392,0,link,NaN